@if (loading()) {
  <div class="map-skeleton visualization-skeleton" aria-hidden="true">
    <span class="skeleton-line large"></span>
    <span class="skeleton-line medium"></span>
    <span class="skeleton-line short"></span>
  </div>
} @else if (error()) {
  <div class="map-state warning">{{ error() }}</div>
} @else if (chartOption()) {
  <div
    echarts
    [options]="chartOption()!"
    class="map-chart"
    (chartClick)="handleChartClick($event)"
  ></div>
} @else {
  <div class="map-state">此日期尚無市場熱力圖資料。</div>
}
